body {
    font-family: 'Strait', sans-serif;
}

.sidebar {
    width: 20%;
    float: left;
}


.content {
    width: 80%;
    float: right;
}

.footer {
    clear: both;
    font-size: small;
}

a.tag-link {
    font-size: small;
    background-color: #f8ed8d;
    padding: 0 2px;
}

a.webmark-edit {
    fint-size: small;
    background-color: #8EFA64;
    padding: 0 2px;
}

a.webmark-delete {
    fint-size: small;
    background-color: #FE3B39;
    padding: 0 2px;
}

.webmarks-list li:hover {
    background-color: #DBDBDB;
}

.tags-list a:hover {
    background-color: #DBDBDB;
}

.edit-webmark p#webmark-url {
    font-weight: bold;
    font-size: big;
}
